<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../jquery-easyui-1.5/jquery.min.js"></script>
    <script src="../jquery-easyui-1.5/jquery.easyui.min.js"></script>
    <link rel="stylesheet" href="../jquery-easyui-1.5/themes/default/easyui.css">
    <link rel="stylesheet" href="../jquery-easyui-1.5/themes/icon.css">
    <script src="../jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" href="../bootstrap3/css/bootstrap.css">
    <script src="../bootstrap3/js/bootstrap.js"></script>
    <script src="../js/bootstrap-bootbox/bootbox.js"></script>
    <link rel="stylesheet" href="../js/bootStrap-addTabs/bootstrap.addtabs.css">
    <script src="../js/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-fileinput/css/fileinput.css">
    <script src="../js/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="../js/bootstrap-fileinput/js/locales/zh.js"></script>
    <script src="../js/bootstrap-table/bootstrap-table.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-table/bootstrap-table.css">
    <script src="../js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-treeview/bootstrap-treeview.min.css">
    <script src="../js/bootstrap-treeview/bootstrap-treeview.min.js"></script>
</head>
<style type="text/css">
    .myrow{
        margin-bottom:30px;
    }
</style>
<body>
<center>
    <br><br><br>
    <input type="hidden" id="userPassword">
    <input type="hidden" id="userId">
    <div class="container-fluid">
        <div class="row myrow">
        <div class="col-md-2">
            <label for="oldPassword">原始密码</label>
        </div>
        <div class="col-md-4">
            <input type="password" class="form-control" id="oldPassword" onblur="Comfirm()">
        </div>
            <div class="col-md-2">
                <span id="msg"></span>
            </div>
    </div>
        <div class="row myrow">
            <div class="col-md-2">
                <label for="newPassword">新密码</label>
            </div>
            <div class="col-md-4">
                <input type="password" class="form-control" id="newPassword">
            </div>
        </div>
        <div class="row myrow">
            <div class="col-md-2">
                <label for="confirmPassword">确认密码</label>
            </div>
            <div class="col-md-4">
                <input type="password" class="form-control" id="confirmPassword">
            </div>
        </div>
        <div class="row myrow">
            <div class="col-md-6">
                <button type="button" class="btn btn-primary" style="width: 160px" onclick="submit()">提交</button>
            </div>
        </div>
    </div>
</center>
</body>
<script>

    //提交
    function submit(){
        var userId = $("#userId").val();
        var userPassword = $("#userPassword").val();
        var oldPassword = $("#oldPassword").val();
        var newPassword = $("#newPassword").val();
        var confirmPassword = $("#confirmPassword").val();
        if(userPassword!=oldPassword){
            bootbox.alert("原始密码输入错误哦")
            return;
        }if(newPassword == ""){
            bootbox.alert("新密码不能为空哦")
            return;
        }if(newPassword != confirmPassword){
            bootbox.alert("两次密码要一致哦")
            return;
        }else{
            $.ajax({
                url:'../updateUserBySessionId',
                type:'post',
                data:{
                    newPassword:newPassword,
                    userId:userId
                },
                success:function(data){
                    if(data){
                        bootbox.alert("成功修改密码")
                         $("#userId").val("");
                         $("#userPassword").val("");
                         $("#oldPassword").val("");
                         $("#newPassword").val("");
                         $("#confirmPassword").val("");
                    }
                }
            })
        }

    }




    //根据用户Id查询用户密码判断js验证
    function Comfirm(){
        var oldPassword = $("#oldPassword").val();
        var msg = document.getElementById("msg");
        $.ajax({
            url:'../queryUserBySessionId',
            type:'post',
            data:{},
            success:function(data){
                $("#userPassword").val(data.userPassword);
                $("#userId").val(data.userId);
                if(oldPassword==data.userPassword){
                    msg.innerHTML = "";
                }else{
                    msg.innerHTML = "<font color='red'>原始密码不正确</font>"
                }

            }
        })
    }
</script>
</html>