<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.ReturnMapper">

    <!--退货统计数量 -->
    <select id="queryReturnCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select count(*) from t_return t
        where 1 = 1
        <include refid="sqlwhere"></include>

    </select>
    <!--退货分页查询 -->
    <select id="queryReturnList" parameterType="map" resultType="com.jk.pojo.ReturnBean">
        select t.id,t.order_number as orderNumber,t.return_number as returnNumber,
        t.return_goods as returnGoods,t.return_time as returnTime,
        t.purchaser,t.applicant,t.return_money as returnMoney,
        t.return_state as returnState
        from t_return t
        where 1 = 1
        <include refid="sqlwhere"></include>
        limit #{startIndex},#{endIndex}
</select>
<sql id="sqlwhere">
        <if test="returnBean.orderNumber !=null and returnBean.orderNumber!=''">
            and t.order_number like '%${returnBean.orderNumber}%'
        </if>
        <if test="returnBean.purchaser !=null and returnBean.purchaser!=''">
            and t.purchaser like '%${returnBean.purchaser}%'
        </if>
        <if test="returnBean.startDate!=null and returnBean.startDate!=''">
            and t.return_time >= STR_TO_DATE(#{returnBean.startDate}, '%Y-%m-%d')
        </if>
        <if test="returnBean.stopDate!=null and returnBean.stopDate!=''">
            and t.return_time &lt;= STR_TO_DATE(#{returnBean.stopDate}, '%Y-%m-%d')
        </if>
</sql>
</mapper>