<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../jquery-easyui-1.5/jquery.min.js"></script>
    <script src="../jquery-easyui-1.5/jquery.easyui.min.js"></script>
    <link rel="stylesheet" href="../jquery-easyui-1.5/themes/default/easyui.css">
    <link rel="stylesheet" href="../jquery-easyui-1.5/themes/icon.css">
    <script src="../jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" href="../bootstrap3/css/bootstrap.css">
    <script src="../bootstrap3/js/bootstrap.js"></script>
    <script src="../js/bootstrap-bootbox/bootbox.js"></script>
    <link rel="stylesheet" href="../js/bootStrap-addTabs/bootstrap.addtabs.css">
    <script src="../js/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-fileinput/css/fileinput.css">
    <script src="../js/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="../js/bootstrap-fileinput/js/locales/zh.js"></script>
    <script src="../js/bootstrap-table/bootstrap-table.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-table/bootstrap-table.css">
    <script src="../js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-treeview/bootstrap-treeview.min.css">
    <script src="../js/bootstrap-treeview/bootstrap-treeview.min.js"></script>
<body>
<span>采购中心 > 订单管理 > 快速采购</span>
<!--  &lt;!&ndash; Unnamed (矩形) &ndash;&gt;
        <div id="u8862" class="ax_default label">
            <div id="u8862_div" class=""></div>
            &lt;!&ndash; Unnamed () &ndash;&gt;
            <div id="u8863" class="text" style="visibility: visible;">
                <p><span>供应商家：</span></p>
            </div>
        </div>
        <div id="u8864" class="ax_default droplist">
            <select id="u8864_input">
                <option value="西安藻露堂康复医药有限公司">西安藻露堂康复医药有限公司</option>
                <option value="西安利君制药有限公司">西安利君制药有限公司</option>
            </select>
        </div>-->
<table class="table" id="myTable"></table>
    <div class="row"   id="row">
        <div class="col-xs-12 col-sm-2">
            图片
        </div>
        <div class="col-xs-12 col-sm-3">
            奥莫西林</br>
            生产厂家：四川科伦药业股份有限公司</br>
            采购价：¥3.90
        </div>
        <div class="col-xs-12 col-sm-2">
            规格
        </div>
        <div class="col-xs-12 col-sm-2">
            多少盒
        </div>
        <div class="col-xs-12 col-sm-2">
            库存
        </div>
        <div class="col-xs-12 col-sm-2">
            加入购物车
            
        </div>
    </div>
</body>
<script>
$(function () {
    queryDrugPurchase()
})

function  queryDrugPurchase () {
    $.ajax({
        url:"http://127.0.0.1:8100/DrugPurchaseController/queryDrugPurchase",
        type:'post',
        success:function (data) {
            var  html;
            for (var i=0;i<=data.length;i++){
               alert(data[i].drugdetailsName)
          /* <div class="col-xs-12 col-sm-2">
                    图片
                    </div>
                    <div class="col-xs-12 col-sm-3">
                    奥莫西林</br>
                生产厂家：四川科伦药业股份有限公司</br>
                采购价：¥3.90
                </div>
                <div class="col-xs-12 col-sm-2">
                    规格
                    </div>
                    <div class="col-xs-12 col-sm-2">
                    多少盒
                    </div>
                    <div class="col-xs-12 col-sm-2">
                    库存
                    </div>
                    <div class="col-xs-12 col-sm-2">
                    加入购物车
                    </div>*/
            }
            $("row").html(html)
        }
    })
}
</script>
</html>