<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<style type="text/css">
    .myrow{
        margin-bottom:10px
    }
</style>
<body>
<form id="userFrom">
    <div class="row myrow">
        <div class="form-group">
            <input type="hidden" id="address_Id">
            <div class="col-md-2">
                <label for="address_name">收货人</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="address_name" name="address_name">
            </div>
            <div class="col-md-2">
                <label for="provinceSelect">所在地区</label>
            </div>
            <div class="col-md-4">
                <select style="width:80px; " id="provinceSelect"  class="easyui-combobox">
                </select>
                <select style="width:80px; " id="citySelect"  class="easyui-combobox"></select>
            </div>
        </div>
    </div>
    <div class="row myrow">
        <div class="col-md-2">
            <label for="detailedaddress">详细地址</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="detailedaddress" name="detailedaddress">
        </div>
        <div class="col-md-2">
            <label for="zipcode">邮编</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="zipcode" name="zipcode">
        </div>
    </div>
    <div class="row myrow">
        <div class="col-md-2">
            <label for="phone">电话</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="phone" name="phone">
        </div>
    </div>
</form>
</body>
<script>
    $(function(){
        initArea();
    })
    //查询地址信息
    function initArea(){
        //查询地区
        $("#provinceSelect").combobox({
            url:'../findProvinceSelect?id=0',
            valueField:'id',
            textField:'name',
            editable:false,
            onChange:function(newValue,oldValue){
                $("#citySelect").combobox({
                    url:'../findProvinceSelect?id='+newValue,
                    valueField:'id',
                    textField:'name',
                    editable:false
                })
            }
        })
    }
</script>
</html>