<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>

    <title>新增</title>
</head>
<style>
    .row {
        margin-top: 5px;
    }
</style>
<body>
<div class="container-fluid">
    <form id="addForm" class="form-horizontal">
        <div class="row">
            <div class="col-xs-2">供应商：</div>
            <div class="col-xs-4">
                <input type="text" class="form-control" name="merchant">
            </div>
            <div class="col-xs-2">分项评价：</div>
            <div class="col-xs-4">
                <input type="text" class="form-control" name="discuss">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">评分：</div>
            <div class="col-xs-4">
                <input type="text" class="form-control" name="discuss_Grade">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">评价留言：</div>
            <div class="col-xs-10">
                <textarea rows="" cols="" class="form-control" name="discuss_Message"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">评价日期：</div>
            <div class="col-xs-4">
                <input type="date" class="form-control" name="discuss_Time">
            </div>
        </div>
    </form>
</div>
</body>
<script type="text/javascript">
    /* 页面加载 */
    $(function () {
    })



    /* 图片 */
    $('#headImgk').fileinput({
        language: 'zh', //设置语言
        uploadUrl: '/user/upload', //上传的地址
        allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
        showUpload: true, //是否显示上传按钮
        showCaption: false,//是否显示标题
        browseClass: "btn btn-primary", //按钮样式
        //dropZoneEnabled: false,//是否显示拖拽区域
        //minImageWidth: 50, //图片的最小宽度
        //minImageHeight: 50,//图片的最小高度
        //maxImageWidth: 1000,//图片的最大宽度
        //maxImageHeight: 1000,//图片的最大高度
        //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
        //minFileCount: 0,
        maxFileCount: 2, //表示允许同时上传的最大文件个数
        enctype: 'multipart/form-data',
        validateInitialCount: true,
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
        msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",

    }).on('fileuploaded', function (event, data, previewId, index) {
        var imgval = $('#testimg').val();
        if (imgval == null || imgval == "" || imgval == undefined) {
            imgval = "http://" + data.response.img;
        } else {
            imgval += "," + "http://" + data.response.img;
        }
        $('#testimg').val(imgval);
    });
</script>
</html>