<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="userFrom">
    <input type="hidden" name="id" id="id">
    <table class="table table-bordered">
        <tr>
            <div class="row myrow">
                <td><div class="col-md-12">
                    <label for="investmentClass">招商分类</label>
                </div></td>
                <td><div class="col-md-6">
                    <input type="text" class="form-control" id="investmentClass" name="investmentClass">
                </div></td>
            </div>
        </tr>

        <tr>
            <div class="row myrow">
                <td><div class="col-md-12">
                    <label for="investmentTitle">招商标题</label>
                </div></td>
                <td><div class="col-md-6">
                    <input type="text" class="form-control" id="investmentTitle" name="investmentTitle">
                </div></td>
            </div>
        </tr>
        <tr>
            <div class="row myrow"><td>
                <div class="col-md-12">
                    <label for="investmentRegion">招商区域</label>
                </div></td><td>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="investmentRegion" name="investmentRegion">
                </div></td>
            </div>
        </tr>
        <tr>
            <div class="row myrow"><td>
                <div class="col-md-12">
                    <label for="investmentName">商品名称</label>
                </div></td><td>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="investmentName" name="investmentName">
                </div></td>
            </div>
        </tr>
        <tr>
            <div class="row myrow"><td>
                <div class="col-md-12">
                    <label for="hideDetail">简介</label>
                </div></td><td>
                <div class="col-md-6">
                    <textarea name="investmentInfo" id="hideDetail" style="display: none;"></textarea>
                    <textarea  id="content" style="width: 700px"></textarea>
                </div></td>
            </div>
        </tr>
    </table>
</form>
</body>
</html>