<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .myrow {
            margin-bottom: 10px
        }
    </style>
</head>
<body>
<form id="agencyFrom">
    <div class="row myrow">
        <div class="col-md-2">
            <label for="productsName">产品名称</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="productsName" name="productsName">
        </div>
    </div>
    <div class="row myrow">
        <div class="col-md-2">
            <label for="productsCommonname">产品通用名称</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="productsCommonname" name="productsCommonname">
        </div>
        <div class="col-md-2">
            <label for="productsManufacturer">生产厂家</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="productsManufacturer" name="productsManufacturer">
        </div>
    </div>
    <div class="row myrow">
        <div class="col-md-2">
            <label for="productsBrand">产品品牌</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control " id="productsBrand" name="productsBrand">
        </div>
    </div>
    <div class="row myrow">
        <div class="col-md-2">
            销售渠道
        </div>
        <div class="col-md-10">
            <input type="checkbox" name="productsChannel" value="药品批发企业">药品批发企业
            <input type="checkbox" name="productsChannel" value="零售连锁企业">零售连锁企业
            <input type="checkbox" name="productsChannel" value="零售药店">零售药店
            <input type="checkbox" name="productsChannel" value="医疗机构">医疗机构
            <input type="checkbox" name="productsChannel" value="疾病预防控制机构">疾病预防控制机构
            <input type="checkbox" name="productsChannel" value="计划生育技术服务机构">计划生育技术服务机构
            <input type="checkbox" name="productsChannel" value="医学科研和教学机构">医学科研和教学机构
            <input type="checkbox" name="productsChannel" value="军队的医疗机构">军队的医疗机构
        </div>
    </div>
    <div class="row myrow">
        <div class="col-md-2">
            <label for="productsIndate">信息有效期</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control " id="productsIndate" name="productsIndate">
        </div>
        <div class="col-md-2">
            <label for="productsImg">产品图片</label>
        </div>
        <div class="col-md-4">
            <img width="50px" height="50px" id="add_img">
            <input type="file" id="uploadImg">
            <input style="display:none" name="productsImg" id="productsImg">
        </div>
    </div>
    <div class="row myrow">
        <div class="col-md-2">
            <label for="productsDetail">需求简要描述</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control " id="productsDetail" name="productsDetail">
        </div>
        <div class="col-md-2">
            <label for="productsLinkman">联系人</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="productsLinkman" name="productsLinkman">
        </div>
    </div>
    <div class="row myrow">
        <div class="col-md-2">
            <label for="productsPhone">联系电话</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control " id="productsPhone" name="productsPhone">
        </div>
        <div class="col-md-2">
            <label for="productsArea">联系地址</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="productsArea" name="productsArea">
        </div>
    </div>
</form>
</body>
<script>

</script>
</html>